{% extends 'base/_layout.html' %}
{% block content %}
  {% if empleados %}
    <h1 class="page-header">Empleados</h1>
    <table class="table table-bordered table-striped">
      <thead>
        <th>#</th>
        <th>Nombre</th>
        <th>RFC</th>
        <th>Puesto</th>
        <th>Sucursal</th>
        <th></th>
      </thead>
      <tbody>
        {% for empleado in empleados %}
            <tr>
              <td>{{empleado.pk}}</td>
              <td>{{empleado.nombre}}</td>
              <td>{{empleado.rfc}}</td>
              <td>{{empleado.puesto}}</td>
              <td>{{empleado.sucursal}}</td>
              <td><a href="{% url 'empresa:editar_empleado' id=empleado.pk %}" class="btn btn-xs btn-inverse"><i class="glyphicon glyphicon-pencil"></i> Editar empleado</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-default btn-lg btn-inverse" href="{% url 'empresa:nuevo_empleado_sucursal' %}"><i class="glyphicon glyphicon-plus"></i> Agregar empleado</a>
  {% else %}
    <div class="jumbotron">
      <h1><i class="glyphicon glyphicon-inbox"></i> No hay registros</h1>
    </div>
    <a class="btn btn-default btn-lg btn-inverse" href="{% url 'empresa:nuevo_empleado_sucursal' %}"><i class="glyphicon glyphicon-plus"></i> Agregar empleado</a>
  {% endif %}
{% endblock %}
