{% extends 'base/_layout.html' %}
{% load widget_tweaks %}
{% block content %}
  {% if es_edicion %}
    <h1 class="page-header">Editar empleado</h1>
  {% else %}
    <h1 class="page-header">Nuevo empleado</h1>
  {% endif %}
  <span class="label label-danger" id="errors"></span><br>
  <span class="label label-danger" id="errors_pass"></span>
  <form id="form" method="post" action="">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}
        {% render_field field class+="form-control input-lg" %}
      </p>
    {% endfor %}
    <input type="submit" value="Registrar" class="btn btn-lg btn-default hidden"/>
    {% if es_edicion %}
      <input type="button" id="registrar" value="Guardar" class="btn btn-lg btn-inverse"/>
    {% else %}
      <input type="button" id="registrar" value="Registrar" class="btn btn-lg btn-inverse"/>
    {% endif %}
    <a href="{% url 'empresa:empleados' %}" class="btn btn-lg btn-inverse"><i class="glyphicon glyphicon-remove"></i> Cancelar</a>
  </form>
{% endblock %}
{% block javascript %}
    {% load staticfiles %}
    <script type="application/javascript" src="{% static "js/common.js" %}"></script>
    <script type="application/javascript" src="{% static "js/empleados.js" %}"></script>
{% endblock %}
