{% extends 'base/_login_layout.html' %}
{% block content %}
<div class="login-container">
<h1 class="cover-heading">Acceder</h1>
{% if message %}<h5 class="errors">*{{ message }}</h5>{% endif %}
<form id="login_form" method="post" action="">
    {% csrf_token %}
    <label for="">Usuario :</label>
    <input type="text" name="username" class="form-control input-lg"/>
    <label for="">Contrase&ntilde;a : </label>
    <input type="password" name="password" class="form-control input-lg" />
    <br>
    <input type="submit" value="Entrar" class="btn btn-block btn-lg btn-default btn-inverse"/>
</form>
</div>
{% endblock %}
