{% extends 'base/_login_layout.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="login-container">
    <h1 class="cover-heading">Registro de empresa </h1>
    <span class="label label-danger" id="errors"></span><br>
    <span class="label label-danger" id="errors_pass"></span>
    <form id="register_form" method="post" action="">
        {% csrf_token %}
        <label for="">Nombre persona :</label>
        {% render_field profile_form.nombre_completo class+="form-control input-lg" %}
        <label for="">Correo :</label>
        {% render_field user_form.email class+="form-control input-lg" %}
        <label for="">RFC :</label>
        {% render_field profile_form.rfc class+="form-control input-lg" %}
        <label for="">Nombre empresa :</label>
        {% render_field profile_form.empresa class+="form-control input-lg" %}
        <label for="">Contrase&ntilde;a : </label>
        {% render_field user_form.password class+="form-control input-lg" %}
        <label for="">Confirmar contrase&ntilde;a : </label>
        <input type="password" id="password-repeat" class="form-control input-lg" />
        <br>
        <input type="submit" value="Registrar" class="btn btn-block btn-lg btn-default hidden"/>
        <input type="button" id="registrar" value="Registrar" class="btn btn-block btn-lg btn-inverse"/>
    </form>
</div>

{% endblock %}

{% block javascript %}
    {% load staticfiles %}
    <script type="application/javascript" src="{% static "js/common.js" %}"></script>
    <script type="application/javascript" src="{% static "js/registro.js" %}"></script>
{% endblock %}
