<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>App</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Raleway:400,700' rel='stylesheet' type='text/css'>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}" />

    {% block CSS %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'empresa:index' %}"><span>#</span>devApp</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'empresa:index' %}"><i class="glyphicon glyphicon glyphicon-user"></i> {{user.persona}}</a></li>
          <li><a href="{% url 'core:salir' %}"><i class="glyphicon glyphicon-off"></i> Salir</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="header"><a href="#">{{user.persona.empresa}} <span class="sr-only">(current)</span></a></li>
          <li><a href="{% url 'empresa:sucursales' %}">Sucursales</a></li>
          <li><a href="{% url 'empresa:empleados' %}">Empleados</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
<body>

{% load staticfiles %}
<script type="application/javascript" src="{% static "js/jquery.min.js" %}"></script>

{% block javascript %}
{% endblock %}
</body>
</html>
