/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 76px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 76px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

body{
  background: #fff;
  font-family: 'Raleway', sans-serif !important;
}

.navbar{
  background: #fff;
  border-bottom: 6px solid #c01d30;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-right {
    margin-right: 0px;
}

.navbar .navbar-brand{
  color :#4d4d4d;
  font-weight: 700;
  font-family: 'Roboto Slab', serif !important;
}

.navbar .navbar-brand span{
  color: #c01d30;
}

.navbar .navbar-nav a{
  font-weight: 700;
  font-family: 'Roboto Slab', serif !important;
  font-size:16px;
  padding-top: 13px;
  padding-bottom: 13px;
  background: #fc3950;
  border-bottom: 4px solid #c01d30;
  color:white;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
  margin-right: 2px;
}

.navbar .navbar-nav a:hover{
  background: #e1293f !important;
  border-bottom: 4px solid #9f1627;
}

.navbar .navbar-nav a .glyphicon{
  display: inline;
  color: #c01d30;
}

.sidebar{
  padding: 0px 20px;
  background: #e6e6e6;
  border-color:#bbb;
}

.sidebar .nav-sidebar .header a{
  background: #bbb;
  color: #5e5e5e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  cursor: unset;
}

.sidebar .nav-sidebar .header a:hover{
  background: #bbb;
}

.sidebar .nav-sidebar a{
  background: #e6e6e6;
  color: #5e5e5e;
  font-weight: 400;
  font-size: 16px;
}

.sidebar .nav-sidebar a:hover{
  background: #d4d4d4;
}

.btn-inverse{
  color:white;
  font-family: 'Raleway', sans-serif !important;
  background: #fc3950;
  border-bottom: 6px solid #c01d30;
}

.btn-inverse:hover{
  color:white;
  background: #e1293f !important;
  border-bottom: 6px solid #9f1627;
}
.error{
  border-color: #e1293f !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}

.error:focus {
  border-color: #e1293f !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #e1293f !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #e1293f !important;
}

.label-danger {
    background-color: #e1293f;
}


