<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>App</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Raleway:400,700' rel='stylesheet' type='text/css'>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "css/cover.css" %}" />

    {% block CSS %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><span>#</span>devApp</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="{% url 'core:acceder' %}">Acceder</a></li>
                  <li><a href="{% url 'core:registro' %}">Registro</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            {% block content %}
            {% endblock %}
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>by <a href="http://github.com/itsjesusurias">Jesus Urias</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

<body>

{% load staticfiles %}
<script type="application/javascript" src="{% static "js/jquery.min.js" %}"></script>

{% block javascript %}
{% endblock %}
</body>
</html>
