{% extends 'base/_layout.html' %}
{% block content %}
  {% if sucursales %}
    <h1 class="page-header">Sucursales</h1>
    <table class="table table-bordered table-striped">
      <thead>
        <th>#</th>
        <th>Nombre</th>
        <th>Ciudad</th>
        <th>Pais</th>
        <th># Empeados</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        {% for sucursal in sucursales %}
          <tr>
            <td>{{sucursal.pk}}</td>
            <td>{{sucursal.nombre}}</td>
            <td>{{sucursal.ciudad}}</td>
            <td>{{sucursal.pais}}</td>
            <td>{{sucursal.empleados}}</td>
            <td><a href="{% url 'empresa:editar_sucursal' id=sucursal.pk %}" class="btn btn-xs btn-inverse"><i class="glyphicon glyphicon-pencil"></i> Editar sucursal</a></td>
            <td><a href="{% url 'empresa:nuevo_empleado' id=sucursal.pk %}" class="btn btn-xs btn-inverse"><i class="glyphicon glyphicon-plus"></i> Agregar empleado</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-default btn-lg btn-inverse" href="{% url 'empresa:nueva_sucursal' %}"><i class="glyphicon glyphicon-plus"></i> Agregar sucursal</a>
  {% else %}
    <div class="jumbotron">
      <h1><i class="glyphicon glyphicon-inbox"></i> No hay registros</h1>
    </div>
    <a class="btn btn-default btn-lg btn-inverse" href="{% url 'empresa:nueva_sucursal' %}"><i class="glyphicon glyphicon-plus"></i> Agregar sucursal</a>
  {% endif %}
{% endblock %}
